@font-face {
    font-family: fontebonita ;
    src: url(secrcode.ttf);
}
@font-face {
    font-family: blacka;
    src: url(Blacklisted.ttf);
}
body {
    background-color: #90A19D;
    margin: 0px;
    font-family:  Arial, sans-serif;
}
.cabecalho {
    width: 100%;
    height: 50px;
    background-color: #363432;
    margin: 0px;
    box-shadow: 0px 0px 10px black;
}
.tituloprincipal {
    padding-top: 5px;
    margin: 0px;
    text-align: center;
}
.reuniao {
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    margin: 0px auto 0px auto;
    max-height: 1250px;
    height: 100%;
    max-width: 1000px;
    width: 90%;
    background-color: white;
}
.bruno {
    padding: 0px 40px 0px 40px;
}
.subtitulo {
    padding-top: 40px;
    margin-bottom: 0px;
}
.titulo {
    font-family: secrcode;
    margin-top: 0px;
    margin-bottom: 5px;
}
img {
    margin: 20px auto;
    display: flex;
    width: 100px;
}
.contato {
    font-size: 1em;
    text-align: center
}
.tirardaparede {
    margin: 0px 4% 0px  4%;
}